body {
    background: #F2F2EB;
    padding: 0;
}

.center-text {
    text-align: center;
}

.purple {
    background: #8C325E
}

.navbar-dark .navbar-nav .nav-link {
    color: #D9C2A7;
}

.logo {
    display: inline-flex !important;

}

@media only screen and (max-width: 766px) {
.navbar-toggler {
    position: absolute;
    margin-left: 75%;
}
}

.img-resize {
  max-width:45%;
  max-height:45%;
}

.jumbotron {
    background: rgba(0, 0, 0, 0);
    height: 70%;
}

.carousel-inner > .item {
    -webkit-transition: 2s ease-in-out left;
    -moz-transition: 2s ease-in-out left;
    -o-transition: 2s ease-in-out left;
    transition:2s ease-in-out left;
}

.head-img {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}