body {
    background: #F2F2EB;
    padding: 0;
}

.red {
    color: red;
}

.center-text {
    text-align: center;
}

.fixed-size {
    max-height: 600px;
}

.title{
    color: #A69480;
}
/* Buttons */
.purple-button {
    background: #8C325E;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 100%;
    color: #D9C2A7;
}

.purple-button:hover {
    color: #8C325E;
    background: #D9C2A7;
} 

.review-purple-button {
    background: #8C325E;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 2.5%;
    color: #D9C2A7;
}

.review-purple-button:hover {
    color: #8C325E;
    background: #D9C2A7;
}

.red-button {
    background: #BF1241;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 2.5%;
    color: #D9C2A7;
}

.red-button:hover {
    color: #8C325E;
    background: #D9C2A7;
}

.search-purple-button {
    background: #8C325E;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 40%;
    width: 20%;
    color: #D9C2A7;    
}

.search-purple-button:hover {
    color: #8C325E;
    background: #D9C2A7;
}

@media only screen and (max-width: 1200px){
.search-purple-button {
    color: #D9C2A7; 
    background: #8C325E;
    margin-left: 15%;
    width: 70%;
}
}

.search-clear-button {
    border: none;
    padding-left: 15px;
    padding-top: 20px;
    font-size: 0.8rem;
    color: #D9C2A7;   
}

.search-clear-button:hover {
    color: #8C325E;
}

@media only screen and (max-width: 1200px){
.search-clear-button {
    color: #D9C2A7; 
    margin-left: 15%;
    width: 70%;
}
}

/*Navbar*/

.purple {
    background: #8C325E
}

.navbar-dark .navbar-nav .nav-link {
    color: #D9C2A7;
}

.logo {
    display: inline-flex !important;

}

@media only screen and (max-width: 766px) {
.navbar-toggler {
    position: absolute;
    margin-left: 75%;
}
}

.img-resize {
  max-width:45%;
  max-height:45%;
}

/* Index page Header */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.4;
}

.lead {
    width: 60%;
    margin-left: 5%;
    padding: 5%;
    margin-bottom: 100px;
}

@media only screen and (max-width: 823px){
.lead{
    width: 70%;
    margin-left: 0;
    margin-bottom: 0;
}
}

@media only screen and (max-width: 420px){
.lead{
    padding: 0% 0% 30% 0%;
    margin-bottom: 0;
}
}

.header-title {
    color: #D9C2A7;
    font-size: 2rem;
    font-weight: bold;
}

.header-text {
    color: #D9C2A7;
    font-size: 1.2rem;
}

.buy {
    color:#D9C2A7;
    font-weight: 500;
}

.buy:hover {
    color: #8C325E;
    text-decoration: none;
}

@media only screen and (max-width: 360px){
.header-text{
    display: none;
}
}

.head-img {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Index Page Content */
.review-title{
    color: #A69480;
}

.review-title:hover{
    color: #8C325E;
    text-decoration: none;
}

/* Review Page Content */

.book-cover{
    max-height: 25rem;
}

@media only screen and (max-width: 768px){
.book-cover{
    padding-left: 10%;
}
}

@media only screen and (max-width: 768px){
.book-cover {
    padding-left: 3%;
}
}

@media only screen and (max-width: 768px){
.comments-sm {
    padding-right: 5px;
    padding-left: 5px;
}
}

.review-info{
    font-weight: bold;
    font-size: 1.3rem;
    padding-left: 5%;
    color: #A69480;
}

.commenter-info{
    font-weight: bold;
    font-size: 1.3rem;
    color: #A69480;
}

#sure {
    font-weight: 600;
}

.comment-head {
    background: #8C325E;
    color:#D9C2A7;
}

.no-image {
    padding-top: 22%;
    background: #8C325E;
    padding-bottom: 22%;
}

/* Profile Page */

.profile-book-cover{
    max-height: 100%;
}

.modal-bg {
    background: #F2F2EB;
}

.write_edit {
    text-align: center;
}

/* Log-in/sign up pages */

.un-info {
    font-size:1rem;
    font-style: italic;
    font-weight: lighter;
}