{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="mb-5">
    <div>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/static/img/head1.2.jpg')">
          <div class="carousel-caption d-block">
            <div class="jumbotron">
                    <h3 class="header-title">Welcome to Pages and Pixels!</h3>
                    <p class="header-text">A world for book-lovers where you can read reviews, write reviews and discuss your favourite books.</p>
                    <a href="{{ url_for('sign_up') }}" class="btn btn-primary purple-button">Sign-up</a>
            </div>>
          </div>
        </div>
    </div>
</header>


  

 <!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-1"><!--Empty col for spacing--></div>
        <div class="col-10">
            <form action="{{ url_for('search') }}" method="POST">
                    <input class="form-control form-control-lg" id="query" name="query" type="text" placeholder="Search Reviews - Type in a book name, author, genre or user">
                <button type="submit" class="btn btn-primary review-purple-button mt-2">Search</button> 
            </form>
        </div>
        <div class="col-1"><!--Empty col for spacing--></div>
    </div>
    <div class="row">
        
        {% for review in reviews %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{{ url_for('review', review_id=review._id) }}">
                        {% if review.book_cover %}
                            <img class="card-img-top" src="{{ review.book_cover }}" alt="{{ review.book_title }}"></a>
                        {% else %}
                            <img class="card-img-top no-image" src="/static/img/pplogo.jpg" alt="Pages & Pixels"></a>
                        {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ url_for('review', review_id=review._id) }}" class="review-title">{{ review.book_title }} by {{ review.author }}</a>
                        </h4>
                        <p class="card-text">{{ review.review_body | truncate(100) }}</p>
                        <!--Found 'truncate' function here: https://stackoverflow.com/questions/33627646/python-flask-template-return-first-150-characters-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</div>

{% endblock %}
