{% extends "base.html" %}
{% block content %}

<!-- Header -->
  <header class="mb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('/static/img/head1.2.jpg')">
            <div class="carousel-caption d-none d-md-block">
                <div class="jumbotron">
                    <h3 class="header-title">Welcome to Pages and Pixels!</h3>
                    <p class="header-text">A world for book-lovers where you can read reviews, write reviews and discuss your favourite books.</p>
                </div>
            </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/img/head2.jpg')">
            <div class="carousel-caption d-block">
                <div class="jumbotron search-jumbo">
                    <form action="{{ url_for('search') }}" method="POST">
                        <label for="query"> 
                            <h3 class="header-title">Search Reviews</h3>
                        </label>   
                        <input class="form-control form-control-lg" id="query" name="query" type="text" placeholder="Type in a book name, author, genre or user">
                        <button type="submit" class="btn btn-primary purple-button">Search</button> 
                    </form>
                </div>
            </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('/static/img/head4.jpg')">
            <div class="carousel-caption d-block">
            <div class="jumbotron">
                <h3 class="header-title">Come into our world! It's easy to get started</h3>
                <a href="{{ url_for('sign_up') }}" class="btn btn-primary purple-button">Sign-up</a> 
            </div>
            </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

 <!-- Page Content -->
<div class="container">
    <div class="row">
        {% for review in reviews %}
            <div class="col-lg-4 col-sm-6 portfolio-item">
                <div class="card h-100">
                    <a href="{{ url_for('review', review_id=review._id) }}"><img class="card-img-top" src="{{ review.book_cover }}" alt="{{ review.book_title }}"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="{{ url_for('review', review_id=review._id) }}" class="review-title">{{ review.book_title }} by {{ review.author }}</a>
                        </h4>
                        <p class="card-text">{{ review.review_body | truncate(100) }}</p>
                        <!--Found 'truncate' function here: https://stackoverflow.com/questions/33627646/python-flask-template-return-first-150-characters-->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- /.row -->
</div>

{% endblock %}
