{% extends "base.html" %}
{% block content %}

<!-- Header (Was previously a Carousel of three images but this changed during development, have still kept the carousel classes for styling)-->
<header class="mb-5">
    <div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/static/img/head4.jpg')">
                <div class="overlay"></div>
                <div class="carousel-caption d-block lead">
                    <h3 class="header-title">Welcome back. Please log in below.</h3>
                </div>
            </div>
        </div>
    </div>
</header>

 <!-- Page Content -->
<div class="container mb-5 mt-3">
    <div class="row">
            <div class="col-12">
                <div class="card w-100 h-100 review-info">
                    <!--Log in form-->
                    <form class="mr-5 mt-3" method="POST" action="{{ url_for('log_in') }}">
                        <!--Username Field-->
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input id="username" name="username" type="text" class="form-control" minlength="6" maxlength="20" pattern="^[a-zA-Z0-9]{6,20}$" required>                        
                        </div>
                        <!--Password Field-->
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password" minlength="5" required>
                        </div>
                        <!--Submit button-->
                        <button type="submit" class="btn review-purple-button">Log in</button>
                        <div class="m-3 red">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <p>{{ message }}</p>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %} 
                        </div>
                    </form>
                </div>
            </div>
    </div>
</div>

{% endblock %}