{% extends "base.html" %}
{% block content %}
<div class="container">
    <hr>
    <div class="row">
        <div class="col-12 mt-5 mb-5">
            <h1 class="center-text title">Reviews by {{ username|capitalize }}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-2"></div>
        <div class="col-md-2 mb-5">
            <a href="{{ url_for('review', review_id=review._id) }}">
                <img class="img-fluid rounded mb-3 mb-md-0 profile-book-cover" src="{{ review.book_cover }}" alt="{{ review.book_title }}">
            </a>
        </div>
        <div class="col-md-8">
            <a href="{{ url_for('review', review_id=review._id) }}" class="review-title">
                <h3>{{ review.book_title }} by {{ review.author }}</h3>
            </a>
            <p>{{ review.review_body | truncate(100) }}</p>
            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn review-purple-button">Edit Review</a>
            <button type="button" class="btn red-button" data-toggle="modal" data-target="#delete-{{ review._id }}">Delete Review</button>
        </div>

        <div class="modal fade" id="delete-{{ review._id }}" tabindex="-1" aria-labelledby="confirmDelete" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content header-text modal-bg">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDelete">Are you sure you want to delete this review? </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        There is no way to undo this. 
                    </div>
                    <div class="modal-footer">
                        <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn red-button">Yes</a>
                        <button class="btn review-purple-button" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


 <!-- Page Content -->


{% endblock %}