{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
<div class="col-10">
<div class="row">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"> 
        {{ review.book_title }} by {{ review.author }}
    </h1>
    
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{ review.book_cover }}" alt="">

        <hr>

        <!-- Date/Time -->
        <p>Posted on January 1, 2017 at 12:00 PM</p> <!--Get datetime stuff setup-->
        <p>Review by {{ review.user_name }}</p>
        <p>Genre: {{ review.genre_name }}</p>
        <!--<p>BUY BOOK HERE: {{ review.purchase_link }}/{{ review.book_title.strip()|lower|truncate(100) }}<br></p>-->
        {% if session.user|lower == review.user_name|lower %}
            <a href="{{ url_for('edit_review', review_id=review._id) }}" class="btn btn-primary">Edit Review</a>
            <a href="{{ url_for('delete_review', review_id=review._id) }}" class="btn btn-danger">Delete Review</a>
        {% endif %} 

        <hr>

        <!-- Post Content -->
        <div>
            {{ review.review_body }}

        </div>

        <hr>

        <!-- Comments Form -->
        {% if session.user %}
        <!--Allow user to submit comments if they're logged in-->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form method="POST" action="{{ url_for('comment', review_id=review._id) }}">
              <div class="form-group">
                <textarea class="form-control" id="comment_body" name="comment_body" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div class="m-3 red">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
          </div>
        </div>
        {% else %}
        <!--Give user the option to log in if they aren't already-->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <p>You have to be logged in to leave a comment</p>
            <a href="{{ url_for('log_in') }}" class="btn btn-primary">Log in?</a>
          </div>
        </div>
        {% endif %}

        <!--Comments-->
        {% for comment in comments %}
        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.user_name }}</h5>
                {{comment.comment_body}}    
            </div>
        </div>
        <hr>
        {% endfor %}
            
        
      </div>
    </div>
</div>
</div>
</div>



{% endblock %}

