{% extends "base.html" %}
{% block content %}

<!-- Header (Was previously a Carousel of three images but this changed during development, have still kept the carousel classes for styling)-->
<header class="mb-5">
    <div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background-image: url('/static/img/head2.jpg')">
                <div class="overlay"></div>
                <div class="carousel-caption d-block lead">
                    <h3 class="header-title">Join our Book Loving Community!</h3>
                </div>
            </div>
        </div>
    </div>
</header>

 <!-- Page Content -->
<div class="container mb-5 mt-3">
    <div class="row">
        <div class="col-12">
            <div class="card w-100 h-100 review-info">
                <!--Sign-up form-->
                <form class="mr-5 mt-3" method="POST" action="{{ url_for('sign_up') }}">
                    <!--Username Field-->
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <p class="un-info">Username must be between 5-20 characters long and can't include special characters.</p>
                        <input id="username" name="username" type="text" class="form-control" minlength="5" maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$" required>                        
                    </div>
                    <!--Email Field-->
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" aria-describedby="email" required>
                        </div>
                    <!--Password Field-->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" minlength="5" data-toggle="tooltip" title="Password must be at least 5 characters long" required>
                    </div>
                    <!--Submit button-->
                    <button type="submit" class="btn review-purple-button">Sign-up</button>
                    <div class="m-3 red">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %} 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}