{% extends "base.html" %}
{% block content %}

 <!-- Page Content -->
<div class="container mb-5 mt-3">
    <h2 class="center-text mb-3">Write Review</h2>
    <div class="row">
            <div class="col-12">
                <div class="card w-100 h-100">
                        
                    <form class="ml-5 mr-5 mt-3 mb-3" method="POST" action="{{ url_for('write_review') }}"></form>
                        <!--Book Title-->
                            <div class="mb-3">
                                <label for="book_title" class="form-label">Book title</label>
                                <input type="text" class="form-control form-control-lg" name="book_title" id="book_title" placeholder="Which book are you reviewing?" required>
                            </div>
                        <!--Author of book-->
                            <div class="mb-3">
                                <label for="author" class="form-label">Author</label>
                                <input type="text" class="form-control form-control-lg" name="author" id="author" placeholder="Who wrote it?" required>
                            </div>
                        <!--Genre Name-->
                            <div class="mb-3">
                                <label for="genre_name" class="form-label">Genre</label>
                                <br>
                                <select class="form-select form-select-lg mb-3" name="genre_name" id="genre_name" aria-label="genre_name">
                                    <option selected disabled>Pick a Genre</option>
                                    {% for genres in genre %}
                                    <option value="{{ genres.genre_name }}">{{ genres.genre_name }}</option>
                                    {% endfor %}}
                                </select>
                            </div>
                        <!-- Upload book image - need to work out how to do this
                        <div class="row">  
                            <div class="mb-3">
                                <label for="formFileSm" class="form-label">Small file input example</label>
                                <input class="form-control form-control-sm" id="formFileSm" type="file">
                            </div>
                        </row>
                        -->
                        <!--Review body-->
                            <div class="mb-3">
                                <label for="review_body" class="form-label">Review:</label>
                                <textarea class="form-control" name="review_body" id="review_body" rows="20" placeholder="Okay, now's your chance to get writing!" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Upload Review</button> 
                                {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        {% for message in messages %}
                                            <p>{{ message }}</p>
                                        {% endfor %}
                                    {% endif %}
                                {% endwith %}
                        
                    </form>
                </div>
            </div>
        
    </div>
</div>

{% endblock %}